body {
	font-family: Raleway, sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #b0bec5;
}

h2 {
	font-size: 45px;
	line-height: 1.2;
	font-weight: 600;
	color: #061e37;
	margin-bottom: 7px;
}

.container {
	padding: 0 15px;
	max-width: 1440px;
	margin: 0 auto;
	overflow: hidden;
}

/* Button */

.btn {
	display: inline-block;
	padding: 22px 42px 17px;
	background-color: #061e37;
	font-family: Roboto;
	font-size: 15px;
	line-height: 1;
	font-weight: 400;
	text-transform: uppercase;
	border-radius: 5px;
	color: #ffffff;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
	transition-duration: 0.3s;

}

.btn:hover {
	transform: translateY(-1px);
	box-shadow: 0px 5px 1px 0px rgba(0, 0, 0, .5);
}


.btn--white {
	color: #061e37;
	background-color: #ffffff;
	font-weight: 700;
	padding-right: 32px;
}

.btn--blue {
	box-shadow: 0px 3px 5px 0px rgba(77, 75, 75, 0.211);
	background-color: #1de9b6;
}

.btn--blue:hover {
	box-shadow: 0px 5px 1px 0px rgba(77, 75, 75, 0.5);
}

.btn:active {
	box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.5);
	transform: translateY(1px);
}
/* Logo */

.logo {
	display: flex;
	z-index: 2;
}

.logo-img {
	margin-right: 10px;
}

.logotext {
	color: #fff;
	text-transform: uppercase;
}

.logotext-2 {
	font-weight: 800;
}


/* Menu */

.nav__link {
	font-weight: 600;
	color: #fff;
	margin-right: 49px;
	transition: color .2s linear;
}

.nav__link:last-child {
	margin-right: 0;
}

.nav__link:hover {
	color: #061e37;
}

/* ==== Burger ==== */

.burger {
	display: none;

}

.burger__item {
	display: block;
	width: 30px;
	height: 3px;
	background-color: #fff;
	font-size: 0;
	color: transparent;
	position: relative;
}

.burger::before,
.burger::after {
	content: '';
	width: 30px;
	height: 3px;

	background-color: #fff;
	cursor: pointer;
	position: absolute;
	left: 0;
	z-index: 1;
	transition-duration: 0.3s;

}

.burger::before {
	top: -8px;
}

.burger::after {
	bottom: -8px;
}

.burger.active span {
	transform: scale(0);
}

.burger.active::before {
	transform: rotate(45deg);
	top: 0;
}

.burger.active::after {
	transform: rotate(-45deg);
	bottom: 0;
}

/* Header */

.header {
	color: #fff;
	opacity: .9;
	position: fixed;
	background-image: linear-gradient(-53.0deg,
			rgba(0, 184, 212, .9) -11%, rgba(29, 233, 182, .9) 111%);
	width: 100%;
	z-index: 10;
}

.header::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(-53.0deg,
			rgba(0, 184, 212, .9) -11%, rgba(29, 233, 182, .9) 111%);

	z-index: 2;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 52px;
	position: relative;
	z-index: 2;

}

.header__btn {
	border: 1px solid #fff;
	color: #fff;
	padding: 6px 19px;
	border-radius: 3px;
	z-index: 2;
}

.header__btn:hover {
	color: #061e37;
	border-color: #061e37;
}


/* Intro */

.intro {
	background-image: linear-gradient(-53.0deg,
			rgba(0, 184, 212, .9) -11%, rgba(29, 233, 182, .9) 111%),
		url(../img/intro/intro_bg.jpg);
	padding: 247px 0 177px;
	color: #ffffff;
}

.intro__inner {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 10px;
	justify-content: space-between;
	align-items: center;
}

.intro__left-blok {
	width: 50%;
	padding-right: 150px;
}

.intro__video {
	width: 50%;


}

.intro__video img {
	width: 100%;
	border: 1px solid #061e37;
	border-radius: 6px;
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}

.intro__title {
	font-size: 55px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 14px;
}

.intro__text {
	font-size: 18px;
	line-height: 2;
	font-weight: 400;
	padding-bottom: 29px;
}

.intro__btn-block {
	display: flex;
	flex-wrap: wrap;
}

.intro__btn1 {
	margin-right: 30px;
}

/* Features */

.features {
	padding: 99px 0 100px;
}

.features__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 -100px;
	padding-bottom: 10px;
}

.features__head {
	text-align: center;
	max-width: 560px;
}

.features__subtitle {
	font-size: 25px;
	line-height: 1.2;
	font-weight: 600;
	margin-bottom: 10px;
}

.features__text {

	margin-bottom: 97px;
}

.features__items {
	display: flex;
	flex-wrap: wrap;

	margin: 0 0 78px;
}

.features__item {
	width: 33.3333%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 100px;
}

.features__item-icon {
	width: 68px;
	height: 80px;
	margin-bottom: 45px;
}

.features__item-title {
	font-size: 20px;
	line-height: 1.25;
	font-weight: 600;
	color: #061e37;
	margin-bottom: 20px;
}

.features__item-text {
	text-align: center;
}

/* Counts */

.counts {
	background: linear-gradient(to right,
			#80d8ff 50%, #ea80fc 50%);


}

.counts__inner {
	display: flex;
	width: 100%;
}

.counts__item {
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 45px 0;
}

.counts__item:nth-child(1n) {
	background-color: #80d8ff;
}

.counts__item:nth-child(2n) {
	background-color: #82b1ff;
}

.counts__item:nth-child(3n) {
	background-color: #b388ff;
}

.counts__item:nth-child(4n) {
	background-color: #ea80fc;
}

.counts__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	background-color: #ffffff;
	border-radius: 50%;
	margin-right: 23px;
}

.counts__text {
	font-size: 20px;
	line-height: 1.25;
	font-weight: 800;
	color: #ffffff;
}

/* Services */

.services {
	padding: 100px 0;
}

.services__inner {
	max-width: 800px;
	text-align: center;
	margin: 0 auto;
}

.services__subtitle {
	margin-bottom: 48px;
	padding: 0 100px;
}

.services__items {
	max-width: 100%;
	display: flex;
	flex-direction: column;
}

.services__item {
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}

.services__item-head {
	padding: 25px 25px;
	color: #061e37;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.material-icons {
	font-family: 'Material Icons';
	font-size: 20px;
	line-height: 1.25;
	font-weight: 400;

}

.services__item-title {
	font-size: 15px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	position: absolute;
	margin-left: 40px;
	padding-top: 0px;
}

.services__item-head+div {
	display: none;
}

.material-icons-arrow {
	transition-duration: 0.3s;

}

.services__item-head.active .material-icons-arrow {
	transform: rotate(180deg);
}

.services__item-content {
	padding: 25px 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	transition-duration: 0.3s;

}

.services__item-img {
	width: 30%;
}

.services__item-img img {
	width: 100%;
}

.services__item-text {
	width: 70%;
	text-align: left;
	padding-left: 25px;
	font-size: 15px;
	line-height: 1.7;
	font-weight: 400;
	letter-spacing: 0.03em;
	color: #061e37;
}

/* Reviews */

.reviews {
	background-image: linear-gradient(-53.0deg,
			rgba(0, 184, 212, .9) -11%, rgba(29, 233, 182, .9) 111%),
		url(../img/reviews/reviews_bg.jpg);
	padding: 134px 0 50px;
}

.reviews__inner {
	padding: 2% 0;
	display: flex;
	flex-wrap: wrap;

}

.reviews__content {
	color: #ffffff;
	width: 50%;
}

.reviews__title {
	font-size: 45px;
	line-height: 1.2;
	font-weight: 600;
	margin-bottom: 19px;
	padding-right: 30%;
	color: #fff;

}

.reviews__subtitle {
	line-height: 1.6;
	font-weight: 600;
	margin-bottom: 100px;
	padding-right: 25%;
}

.reviews__slider {
	margin: -2% 0;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 0;
}

.reviews__item {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	width: 100% !important;
}

.review {
	max-width: 650px;
	padding: 30px;
	background-color: #ffffff;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
}

.review__name {
	font-size: 18px;
	line-height: 1.3;
	font-weight: 700;
	color: #061e37;
	margin-bottom: 10px;
}

.review__text {
	line-height: 1.6;
	font-style: italic;
}

/* Reviews Slider */

/* Ограничивающая оболочка */
.reviews__slider .slick-list {
	overflow: hidden;
}


/* Стрелка */
.reviews__slider .slick-arrow {
	font-size: 0;
	width: 30px;
	height: 30px;
	align-self: center;
}

/* Стрелка влево */
.reviews__slider .slick-arrow.slick-prev {
	background: url(../img/slider/arrow_up.png) no-repeat;
}

/* Стрелка вправо */
.reviews__slider .slick-arrow.slick-next {
	background: url(../img/slider/arrow_down.png) no-repeat;
}

/* Team */

.team {
	padding: 100px 0;
	text-align: center;
}

.team__inner {
	max-width: 650px;
	margin: 0 auto;
}

.team__title {
	margin-bottom: 20px;
}

.team__subtitle {
	margin-bottom: 78px;
}

.team__item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.team__photo {

	margin-bottom: 15px;
}

.team__photo img {
	display: block;
	width: 200px;
	height: 200px;
}

.team__name {
	font-size: 18px;
	line-height: 1.3px;
	font-weight: 700;
	color: #061e37;
	margin-bottom: 20px;
}

.team__info {
	margin-bottom: 30px;
}

/* Team Slider */

/* Слайдер */
.team .slick-slider {
	position: relative;
}

/* Ограничивающая оболочка */
.team .slick-list {
	overflow: hidden;
}

/* Лента слайдов */
.team .slick-track {
	display: flex;
}


/* Стрелка */
.team .slick-arrow {
	position: absolute;
	top: 25%;

	font-size: 0;
	width: 30px;
	height: 30px;
}

.team .slick-arrow.slick-prev {
	background: url(../img/slider/left-arrow-svgrepo-com.svg) no-repeat;
	left: 100px;
	z-index: 1;
}

/* Стрелка вправо */
.team .slick-arrow.slick-next {
	background: url(../img/slider/right-arrow-svgrepo-com.svg) no-repeat;
	right: 100px;
}

@media (max-width: 991px) {
	/* Стрелка */
	.team .slick-arrow {
		top: 20%;
	}
}

@media(max-width:767px) {

	/* Стрелка */
	.team .slick-arrow {
		top: 15%;
	}

	.team .slick-arrow.slick-prev {
		left: 0;
	}
	
	/* Стрелка вправо */
	.team .slick-arrow.slick-next {
		right: 0;
	}

}




/* Socials */

.socials {
	width: 190px;
	display: flex;
	justify-content: space-between;
}

.fa-brands {
	font-size: 20px;
	line-height: 25px;
	font-weight: 400;
	color: #90a4ae;
}

/* Contact */

.contact {
	background-color: #fafafa;
	padding: 49px 0 100px;
	color: #061e37;
}

.contact__inner {
	max-width: 600px;
	margin: 0 auto;
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact__subtitle {
	margin-bottom: 49px;
	text-align: center;
}

.contact__form {
	width: 100%;
	height: 100%;
}

.contact__form input,
.contact__form textarea {
	border: 1px solid #061e37;
	border-radius: 5px;
	padding: 16px 20px;
}

.contact__name,
.contact__address {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}

.input {
	font-size: 14px;
	font-weight: 500;
	color: #061e37;
	width: 47%;
	margin-bottom: 20px;
}

.contact__message {
	width: 100%;
	height: 150px;
	resize: none;
	margin-bottom: 20px;
}

.input:focus,
.contact__message:focus {
	border: 2px solid #061e37;
}

.contact__send {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Footer */

.footer {
	background-color: #061e37;
	padding: 100px 0;
}

.footer__block1,
.footer__block2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer__block1 {
	margin-bottom: 54px;
}

.footer__menu .nav__link:hover {
	color: #fff;
}

.footer__about {
	display: flex;
}

.footer__about span {
	opacity: .5;
	color: #fff;
	margin-right: 20px;
}

.footer__about a:nth-child(2n)::before,
.footer__about a:nth-child(2n)::after {
	content: "";
	opacity: 1;
	width: 5px;
	height: 5px;
	display: inline-block;
	background-color: #ffffff;
	border-radius: 50%;
	margin-right: 20px;

}

.footer__socials {
	opacity: .5;
}

/* Media */

@media (max-width: 1200px) {

	/* Intro */

	.intro__left-blok {
		padding-right: 90px;
	}
}

/* Landscape tablets and medium desktops */
@media (max-width: 1199px) {

	h2 {
		font-size: 40px;
	}

	.features,
	.services,
	.reviews,
	.team,
	.contact,
	.footer {
		padding: 50px 0;
	}

	/* Header */

	.header__inner {
		padding-top: 30px;
	}

	/* Intro */
	.intro {
		padding: 90px 0 50px;
	}

	.intro__title {
		font-size: 45px;
	}

	/* Feature */

	.features__inner {
		overflow: hidden;
		margin: 0 -40px;
	}


	.features__item {
		padding: 0 40px;
	}

	/* Reviews */

	.reviews {
		padding: 50px 0 20px;
	}

	.reviews__title {
		font-size: 40px;
		padding-right: 10%;
	}

	.review {
		padding: 15px;
	}

	/* Counts */
	.counts__item {
		padding: 15px 0;
	}

	.counts__icon {
		width: 45px;
		height: 45px;
	}

	.counts__text {
		font-size: 18px;
	}

}

/* Portrait tablets and small desktops */

@media (max-width: 991px) {

	/* Nav */

	.nav__link {
		margin-right: 20px;
	}



	/* Intro */

	.intro__left-blok {
		width: 70%;
	}

	.intro__title {
		font-size: 40px;
	}

	.intro__text {
		font-size: 15px;
	}

	.intro__video {
		width: 30%;
	}

	/* Team */

	.team__photo img {
		width: 150px;
		height: 150px;
	}

	/* Features */

	.features__text {
		margin-bottom: 50px;
	}

	.features__items {
		margin-bottom: 30px;
	}

	.features__item {
		width: 100%;
		padding: 0 100px;
		margin-bottom: 20px;
	}

	.features__item-icon {
		margin-bottom: 20px;
	}

	/* Counts */

	.counts__text {
		font-size: 15px;
	}

	/* Reviews */

	.review {
		padding: 10px;
	}

	.review__text {
		font-size: 13px;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

	body.lock {
		overflow: hidden;
	}

	.features,
	.services,
	.reviews,
	.team,
	.contact,
	.footer {
		padding: 30px 0;
	}

	/* Logo */

	.logotext {
		font-size: 10px;
	}

	/* Header */

	.header.active {
		position: fixed;
	}

	.header__menu {
		position: fixed;
		top: -100%;
		left: 0;
		overflow: auto;
		display: block;
		height: 100%;
		width: 100%;
		padding: 80px 0px 0px 20px;
		background-image: linear-gradient(-53.0deg,
				rgba(0, 184, 212, 1) -11%, rgba(29, 233, 182, 1) 111%);
		transition-duration: 0.3s;

	}

	.header__menu.active {
		top: 0;
	}

	.header__menu .nav__link {
		display: block;
		font-size: 30px;
		margin-bottom: 5px;
	}

	/* Intro */
	.intro__left-blok {
		padding-right: 0;
		width: 100%;
	}

	.intro__video {
		display: none;
	}

	/* Burger */

	.burger {
		display: block;
		position: absolute;
		right: 120px;
	}

	/* Features */

	.features__inner {
		margin: 0;
	}

	.features__item {
		padding: 0;
	}

	/* Counts */

	.counts__icon {
		width: 40px;
		height: 40px;
		margin-right: 10px;
	}

	.counts__text {
		font-size: 10px;
	}

	/* Services */

	.services__subtitle {
		padding: 0;
	}

	.services__items {
		max-width: 80%;
		margin: 0 auto;
	}

	.services__item-img {
		width: 100%;
	}

	.services__item-img img {
		width: 100%;
		height: auto;
	}

	.services__item-text {
		width: 100%;
		font-size: 14px;
		padding-left: 0;
		margin-top: 10px;
	}

	/* Reviews */

	.reviews {
		padding-bottom: 0;
	}

	.reviews__title,
	.reviews__subtitle {
		padding-right: 0;
	}

	.reviews__content {
		width: 100%;
	}

	.reviews__slider {
		width: 100%;
		margin: 20px 0 0;
	}

	.reviews__item {
		margin-bottom: 30px;
	}

	/* Team */

	.team__subtitle {
		margin-bottom: 40px;
	}

	.team__photo img {
		width: 100px;
		height: auto;
	}

	/* Footer */

	.footer__menu .nav__link {
		font-size: 12px;
		margin-right: 5px;
	}

	.footer__about span {
		font-size: 12px;
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

	body {
		font-size: 13px;
	}

	/* Btn */
	.btn {
		padding: 15px 25px;
	}

	/* Intro */

	.intro {
		padding: 80px 0 20px;
	}

	.intro__title {
		font-size: 40px;
		line-height: 1;
		padding-bottom: 5px;
	}

	.intro__btn1 {
		margin-right: 10px;
	}

	/* Counts */

	.counts__icon {
		display: none;
	}

	.counts__text {
		font-size: 10px;
	}

	/* Services */

	.services__items {
		max-width: 100%;
	}

	.services__item-text {
		font-size: 12px;
	}

	/* Reviews */

	.reviews__title {
		font-size: 37px;
	}

	.reviews__subtitle {
		margin-bottom: 30px;
	}

	.reviews__img {
		display: none;
	}

	/* Contact */

	.input {
		width: 100%;
	}

	/* Footer */
	.footer {
		padding: 20px 0 20px;
	}

	.footer__block1 {
		margin-bottom: 20px;
	}

	.footer__logo {
		margin-bottom: 5px;
	}

	.footer__menu {
		width: 100%;
		font-size: 15px;
	}

	.footer__about {
		width: 100%;
		margin-bottom: 5px;
	}

	.footer .fa-brands {
		font-size: 19px;
	}
}

/* Iphone 5 */
@media (max-width: 320px) {}